body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #2a2a2a , #212121, #191919, #010002);

}
.gradient{
    position: relative;
    margin: 100px auto 0;
    width: 300px;
    height: 450px;
    background: #000;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}
h1{
    position: relative;
    font-family: "raleway";
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

}
.gradient:before,
.gradient:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff,#00ff00,#ffff00, #ff0000,#fb0094,#0000ff,#00ff00, #ffff00,#ff0000);
    background-size: 400% 400%;
    width:calc(100% + 6px);
    height:calc(100% + 6px);
    border-radius: 20px;
    z-index:-1;
    animation: animate 6s ease alternate infinite;
}
.gradient::after{
    filter: blur(40px);

}
@keyframes animate {
    0%{
        background-position: 0 50%;

    }
    50%{
        background-position: 100% 50%;
        
    }
    0%{
        background-position: 0 50%;
        
    }

}